.recipe-container {
  padding: 20px;
  h1 {
    border-bottom: 1px solid;
    margin: 0;
  }
  .recipe-details {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    font-size: 18px;
    @media (max-width: 768px) {
      display: block;
    }

    img {
      width: 400px;
      height: 250px;
      border-radius: 20px 0px 0px 20px;
      @media (max-width: 768px) {
        width: 100%;
        margin-top: 20px;
        border-radius: unset;
      }
    }

    p {
      margin: 0;
    }
  }
}
